.header{
    background-color: aqua;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
}

.topnav{
    text-align: center;
    /* background-color: ; */
    border: 2px solid grey;
    border-radius: 3px;
}
.top{
    background-color: aquamarine;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:cornflowerblue;
    text-align: center;
}
form{
    background-color: bisque;
    border: 2px solid rgb(240, 169, 118);
    border-radius: 4px;
    padding-left: 50px;
    height: 600px;
    width: 400px;
    align-content: center;
    margin: auto;
}
input[type="submit"]:hover{
    background-color: greenyellow;
    border-radius: 3px;
    border-color: aquamarine;
}
input[type="text"],input[type="number"],input[type="date"],input[type="file"],select,textarea{
    width: 180px;
    border-radius: 5px;
    margin-top: 10px;
    border: 2px solid grey;
}
div.relative{
    position: relative;

}
#Address{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 400px;
    min-width: 200px;
    resize: vertical;
}
button{
    background-color: aquamarine;
    border: 2px solid grey;
    border-radius: 3px;
}
button:hover{
    background-color: rgb(243, 16, 24);
    border-radius: 3px;
    border-color: rgb(213, 159, 169);
}